body{background-color: rgb(94, 170, 247); font-size: 18px; text-align: center;}

h1{color: white; font-weight: bold; text-align: center; text-decoration: underline; font-size: 28px;}

table{margin-left: auto; margin-right: auto; font-size: 18px; color: white;}

.Display{background-color: white; color: black;}

